/*===================================================================
|  BASE FILE - do not change anything  |
|  reset file based on picalil's reset. you can find it here:
|     https://piccalil.li/blog/a-modern-css-reset/  |
===================================================================*/
// default colors
:root {
   --bg: hsl(0 0% 0%);
   --fg: hsl(0 100% 100%);
}

// creates md and sm viewport classes
@mixin responsive($class) {
   .#{$class} {
      @content;
   }
   @media (--viewport_medium) {
      .md\:#{$class} {
         @content;
      }
   }
   @media (--viewport_small) {
      .sm\:#{$class} {
         @content;
      }
   }
}
// pseudo classes and elements
@mixin pseudo {
   & {
      @content;
   }
   &\:hover:is(:hover, :focus) {
      @content;
   }
   &\:\:before::before {
      @content;
   }
   &\:\:after::after {
      @content;
   }
}
// creates sub classes with simple names
@mixin foreach($property, $values) {
   @each $value in $values {
      &_#{$value} {
         @include pseudo { #{$property}: #{$value}; }
      }
   }
}
// screenreader only
@mixin sr-only {
   position: absolute;
   overflow: hidden;
   white-space: nowrap;
   clip: rect(0, 0, 0, 0);
   
   width: 1px;
   height: 1px;
   padding: 0;
   border: 0;
   margin: -1px;
}

/*
   TAG RESET
================*/
*, *::before, *::after {
   box-sizing: border-box;
   font-size: inherit;
}
html {
   font-size: 62.5%; /* 10px default */

   &, body {
      height: 100%;
   }

   &:focus-within {
      scroll-behavior: smooth;
   }
}
body {
   text-rendering: optimizeSpeed; /* optimizeLegibility is too slow */
   line-height: 1.5;
}

/* display change */
body,
blockquote,
dd, dl,
fieldset,
figure,
h1, h2, h3, h4, h5, h6,
hr,
legend,
menu, ol, ul,
p,
pre,
table {
   margin: 0;
}
dialog,
hr,
iframe {
   border: 0;
}
fieldset,
legend,
button {
   padding: 0;
}
img,
picture {
   display: block; /* images behave like blocks anyway */
   max-width: 100%;
}

/* style change */
a,
button,
mark {
   color: inherit;
}
a, ins {
   text-decoration: none;
}
abbr,
b,
button,
input,
select,
textarea {
   font-family: inherit;
}
address,
cite,
dfn,
em,
i,
var {
   font-style: normal;
}

/*
   ACCESIBILITY DEFAULTS
=========================*/
/* almost invisible animations for people who prefer that*/
@media (prefers-reduced-motion: reduce) {
   html:focus-within {
      scroll-behavior: auto;
   }
   *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

/* using 'list-style: none' removes voiceover lines in some browsers,
   so we will only remove default styling when ARIA is explicitely used */
ol, ul {
   &[role='list'] {
      list-style: none;
   }
}

/* these tags are not read by screenreaders, which is usually a good thing,
   but if you need to, you can add data-sr-* attributes to give text in
   markup that will be read by any screenreader */
del, ins,
mark,
s {
   &::before, &::after {
      @include sr-only;
   }
   &::before {
      content: attr(data-sr-before);
   }
   &::after {
      content: attr(data-sr-after);
   }
}

/* printer help */
@media print {
   ins { border-bottom-width: 3pt; }
   mark { border: 1pt dotted #000; }
}

/*
   UTILITY CLASSES
===================*/
@include responsive("z-index") {
   // .z-index_[scales], each scale is 5 times the last one, but [minus] is -1
   &_minus {
      @include pseudo { z-index: -1; }
   }
   $index: 1;
   $scales: "low", "medium", "high";
   @each $scale in $scales {
      &_#{$scale} {
         @include pseudo { z-index: 1 * $index; }
      }
      $index: $index * 5;
   }
}
@include responsive("dsp") {
   // .dsp_[displays]
   $displays: "block", "grid", "flex", "none";
   @each $display in $displays {
      &_#{$display} {
         @include pseudo { display: #{$display}; }
      }
   }
}

@include responsive("pos") {
   // .pos_[positions]
   $positions: "relative", "absolute", "fixed";
   @each $position in $positions {
      &_#{$position} {
         @include pseudo { position: #{$position}; }
      }
   }
}
@include responsive("inset") {
   @include pseudo { inset: 0; }
}
@include responsive("margin") {
   // .margin-[positions]
   $positions: "inline", "left", "right", "block", "top", "bottom";
   $values: "auto", "0";
   @each $position in $positions {
      @each $value in $values {
         &-#{$position}_#{$value} {
            @include pseudo { margin-#{$position}: #{$value}; }
         }
      }
   }
}

$values: "start", "center", "end";
@include responsive("align-self") {
   $flex: "start", "flex-start", "center", "end", "flex-end";
   @include foreach("align-self", $flex);
}
@include responsive("align-items") {
   $flex: "flex-start", "center", "flex-end";
   @include foreach("align-items", $flex);
}
@include responsive("justify-items") {
   @include foreach("justify-items", $values);
}
@include responsive("justify-self") {
   @include foreach("justify-self", $values);
}
@include responsive("justify-content") {
   $flex: "space-between", "space-around", "space-evenly",
      "flex-start", "center", "flex-end";
   @include foreach("justify-content", $flex);
}

@include responsive("text-align") {
   @include foreach("text-align", $values);
}

@include responsive("flex-direction") {
   $direction: "column", "column-reverse", "row", "row-reverse";
   @include foreach("flex-direction", $direction);
}

@include responsive("font-weight") {
   // .font-weight_[unit]
   $unit: 100;
   @while $unit <= 900 {
      &_#{$unit} {
         @include pseudo { font-weight: $unit; }
      }
      $unit: $unit + 100;
   }
}

@include responsive("no-shadow") {
   @include pseudo { box-shadow: 0 0 0 0; }
}
@include responsive("isolate") {
   @include pseudo { isolation: isolate; }
}
@include responsive("sr-only") {
   @include pseudo { @include sr-only; }
}
