@use "sass:map";
@use "./_base";

// more than two viewports not currently supported
@custom-media --viewport_medium (width <= 70em);
@custom-media --viewport_small (width <= 55em);

/* put your custom css properties here, the script will automatically create
   classes for them at the bottom of the page.
=============================================================================*/
// principal classes and variables, expected to change
$fonts: (
   "primary": "Be Vietnam Pro",
);
$colors: (
   "base": (
      "100": hsl(230 3% 10%),
      "900": hsl(239 3% 95%),
   ),
   "primary": (
      "100": hsl(240 12% 13%),
      "300": hsl(240 2% 44%),
   ),
   "accent": (
      "200": hsl(150 58% 30%),
      "300": hsl(150 68% 40%),
      "500": hsl(228 53% 78%),
   )
);
$font-sizes: (
   "200": 1.8rem,
   "300": 2.4rem,
   "500": 3rem,
   "700": 4rem,
);

/* creates size variables and classes with those same variables
   e.g: gap_500 { gap: --size_500 }, */
$sizes: (
   "100": .8rem,
   "150": 1rem,
   "200": 1.6rem,
   "300": 2.5rem,
   "400": 3.2rem,
   "500": 4.0rem,
   "600": 4.8rem,
   "700": 5.5rem,
);
$size-classes: ( "gap", "padding-block", "padding-top" );

/* plain utility classes. the name of the class is the property used. e.g:
   padding-inline: ( 400: 2rem ) =>
   .padding-inline_400 { padding-inline: 2rem } */
$classes: (
   line-height: (
      100: 1.1,
   ),
);

// other classes
.a-hover {
   a:is(:hover, :focus) {
      color: var(--clr_accent_200);
   }
}

.md\:center {
   @media (--viewport_medium) {
      margin-inline: auto;
   }
}

/***
** map scripts. don't change stuff except maybe the fallback font
===================================================================*/
:root {
   @each $key, $value in $fonts {
      --font_#{$key}: "#{$value}", "sans-serif";
   }
   @each $key, $value in $font-sizes {
      --font-size_#{$key}: #{$value};
   }
   @each $topkey, $keys in $colors {
      @each $key, $value in $keys {
         --clr_#{$topkey}_#{$key}: #{$value};
      }
   }
   @each $key, $value in $sizes {
      --size_#{$key}: #{$value};
   }
}

/***
** class scripts. don't touch them unless you know what you're doing
=====================================================================*/
@include base.responsive("ff") {
   @each $key, $value in $fonts {
      &_#{$key} {
         @include base.pseudo {
            font-family: var(--font_#{$key}), "sans-serif";
         }
      }
   }
}
@include base.responsive("text") {
   &_base {
      @include base.pseudo{ color: var(--text_base); }
   }
   &_transparent {
      @include base.pseudo{ color: transparent; }
   }
   @each $topkey, $keys in $colors {
      @each $key, $value in $keys {
         &_#{$topkey}_#{$key} {
            @include base.pseudo { color: var(--clr_#{$topkey}_#{$key}); }
         }
      }
   }
}
@include base.responsive("font-size") {
   @each $key, $value in $font-sizes {
      &_#{$key} {
         @include base.pseudo { font-size: var(--font-size_#{$key}); }
      }
   }
}
@include base.responsive("bg") {
   &_base {
      @include base.pseudo { background-color: var(--bg_base); }
   }
   &_transparent {
      @include base.pseudo { background-color: transparent; }
   }
   @each $topkey, $keys in $colors {
      @each $key, $value in $keys {
         &_#{$topkey}_#{$key} {
            @include base.pseudo {
               background-color: var(--clr_#{$topkey}_#{$key});
            }
         }
      }
   }
}

@each $class in $size-classes {
   @each $key, $value in $sizes {
      @include base.responsive($class) {
         &_#{$key} {
            @include base.pseudo {
               #{$class}: var(--size_#{$key});
            }
         };
      }
   }
}
