/* reset and basic classes */
@use './_base';

/* block components */
@use './blocks/_global';
@use './blocks/_header';
@use './blocks/_main';
@use './blocks/_cta';
@use './blocks/_footer';

/* composition classes */
@use './comps/_container';
@use './comps/_grid-cols';
@use './comps/_flow';

@use './_utils';

:root {
   // base colors
   --bg_base: var(--clr_base_100);
   --text_base: var(--clr_base_900);

   // light colorscheme
   @media (prefers-color-scheme: light) {
      --bg_base: var(--clr_base_900);
      --text_base: var(--clr_primary_300);

      --clr_accent_500: hsl(228 39% 23%);
   }

   // media queries custom
   @media (--viewport_medium) {}

   @media (--viewport_small) {
      --font-size_500: 4rem;
      --font-size_700: 5.3rem;
   }
}

/* fonts
==============*/
// you can generate font-faces here, just change the url to your liking.
// if you have multiple fonts, just copy and paste the whole loop and
// variables again. couldn't think in an easier way to do it ;^(
$weights: 400, 500, 700;
$styles: normal, italic;

@each $weight in $weights {
   @each $style in $styles {
      @font-face {
         src: url("../fonts/BeVietnamPro_#{$style}_#{$weight}.ttf")
            format('truetype');
         font: {
            family: "Be Vietnam Pro";
            weight: $weight;
            style: $style;
         }
      }
   }
}
