.container {
   --max-width: 1200px;
   --horizontal-space: var(--size_300);

   /* if the resolution is high, use max width, else put space on both sides */
   width: min(var(--max-width), 100% - (var(--horizontal-space) * 2));
   margin-inline: auto;
}
