/* gives margin top to every children of .flow, except the first one.
   useful for most lists or paragraphs with titles */
.flow * + * {
   margin-top: var(--flow-spacer, 1em);
}

.flow__dt > dt > * {
   --flow-spacer: var(--flow-spacer__dt);
}
