.cta {
   /* background elements */
   &::before {
      content: '';
      opacity: 0.1;

      background-position: -15rem 0, 95rem -70rem;
      background-repeat: no-repeat;

      background-image: url('../media/bg-tablet-pattern.svg'),
         url('../media/bg-tablet-pattern.svg');
   }

   /* get started button */
   button[data-exception="inverted"] {
      margin-block: var(--size_200);
      box-shadow: 0 .6em 1.2em -1em var(--clr_accent_300);
   }
}
