footer.primary {
   .social-list {
      ul li img {
         width: var(--size_300);

         @media (--viewport_medium) {
            width: var(--size_500);
         }
         @media (--viewport_small) {
            width: var(--size_300);
         }
      }
   }

   nav {
      columns: 2;
   }
}
