h2, h3, h4, h5, h6 {
   color: var(--clr_accent_500);
}
ul {
   padding: 0;
}

p {
   max-width: var(--ch-width, 34ch);

   &:not([class]){
      opacity: 0.8;
   }
}

button {
   background-color: var(--clr_accent_200);
   font-weight: var(--fw_700);
   color: var(--clr_base_900);

   cursor: pointer;
   padding: 0.8em 2.1em;
   border: {
      width: 0;
      radius: 100px;
   }
   box-shadow: 0 1em 1em -1em var(--clr_accent_200);

   &:focus-visible, &:hover {
      background-color: var(--clr_accent_300);
   }
}
