header.primary {
   margin-top: var(--size_500);

   nav.primary ul {
      gap: clamp(var(--size_200), 5vw, var(--size_700));
   }

   @media (--viewport_medium) {
      /* invisible elements are used in /scripts/nav-toggle.js so the
         attribute data-query-visible gets added to them */
      [data-query-visible] {
         display: block;
      }
      nav.primary {
         /* navigation square */
         inset: 11rem var(--size_300) auto;
         max-width: 50rem;
         border-radius: var(--size_100);
         box-shadow: 0 0 1em rgb(0 0 0 / 0.1);

         ul { padding-left: 0; }
      }
      .gradient {
         background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 1));
      }
      button[data-exception="hamburguer"] {
         padding: 0.8em;
      }
   }
}
